{%extends "base.html"%}
{%block content%}
<!--News jumbotron-->
<br><br>
<!--Jumbotron-->
<div class="card card-image"
      style="background-image: url(https://picsum.photos/2560/500?grayscale); background-repeat:no-repeat">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">
            <h2 class="h2 text-white animated heartBeat" style="font-family: 'Abril Fatface', cursive;"><i
            class = "far fa-newspaper"></i> The Newsroom</h2>
            <h5 class="card-title h5 my-4 py-2">Your local news guide</h5>
            <p class="mb-4 pb-2 px-md-5 mx-md-5">Get Extensive news coverage from a variety of sources and in different categories.
                 Made using the NewsAPI.</p>
                 <a href="https://github.com/Gr3atJes/pythonweek2"
        </div>
    </div>
    
    </div>

